body {
    position: relative;
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    max-width: 95%;
    margin-top: 15px;
    border-radius: 10px;
}

.sliders label {
    display: block;
    margin: 5px;
}

button {
    margin: 8px;
    padding: 8px 12px;
}

.version,
.version-right,
.version-left {
  position: absolute;
  bottom: 10px;
  font-family: monospace;
  font-size: .5rem;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 9999;
  pointer-events: none;
  isolation: auto;
}

.version {
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.version-right {
  right: 12px;
  text-align: right;
}

.version-left {
  left: 12px;
  text-align: left;
}

@media (min-width: 768px) {
  .version,
  .version-right,
  .version-left {
    position: fixed;
  }
}
