body {
    background: #121212;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    max-width: 90%;
    margin-top: 20px;
    border-radius: 12px;
}

input, select {
    margin: 10px;
}
