
body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    max-width: 95%;
    margin-top: 15px;
    border-radius: 10px;
}

.sliders label {
    display: block;
    margin: 5px;
}

button {
    margin: 8px;
    padding: 8px 12px;
}
