
body {
    background: #111;
    color: white;
    text-align: center;
    font-family: Arial;
}

canvas {
    max-width: 95%;
    margin-top: 15px;
    border-radius: 10px;
}

.sliders label {
    display: block;
    margin: 5px;
}

button {
    margin: 8px;
    padding: 8px 12px;
}

.version {
font-size:.5rem;
margin-top:1em;
color:rgba(255,255,255,.45);
text-align:center;
text-shadow:0 1px 4px rgba(0,0,0,.8);
position: absolute;
bottom: 2em;
left: auto;
width: 100%;
}
